body{
  background-color: rgb(31, 35, 58);
  color: white;
}
.App-container{
  width: 20%;
  align-content: center;
  margin-left: auto;
  margin-right: auto; 
}

input{
  border-radius: 15px;
  background-color: lightgray;
  border: 0px;
  line-height: 10px;
  padding: 5px;
}
.btn-add{
  border-radius: 15px;
  line-height: 10px;
  padding: 7px 10px;
  margin-left: 2%;
  color: white;
  border: 0px;
  background-color: green;
}
.btn-delete{
  float: right;
  border-radius: 5px;
  line-height: 10px;
  padding: 5px 10px;
  margin-left: 2%;
  color: white;
  border: 0px;
  background-color: tomato;
}
.list{
  border: 0px;
  border-radius: 10px;
  padding: 5px 5px;
  background-color: lightgray;
  color: black;
}
ul li{
  margin-top:10px;
  list-style: none;
}
ul li input{
  float: left;
}